<!DOCTYPE html>
<html>
<head>
    <title>Lista käytettävistä hyllypaikoista</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Hyllypaikka</th>
                <th>Sisävarasto</th>
                <th>Käytössä</th>
            </tr>
        </thead>
        <tbody>
            {% for location in locations %}
            <tr>
                <td>{{ location.name }}</td>
                <td>{{ location.is_flexible }}</td>
                <td>{{ location.is_occupied }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
