<!DOCTYPE html>
<html>
<head>
    <title>Move Tire</title>
</head>
<body>
    <form method="post">
        <label>Select Tire: 
            <select name="tire_id">
                {% for tire in tires %}
                <option value="{{ tire.id }}">{{ tire.type }} - {{ tire.brand }} - {{ tire.size }}</option>
                {% endfor %}
            </select>
        </label>
        <br>
        <label>Select Destination: 
            <select name="destination">
                <option value="inside">Inside Stock</option>
                <option value="outside">Outside Stock</option>
            </select>
        </label>
        <br>
        <input type="submit" value="Move Tire">
    </form>
</body>
</html>
